<div class="more-container">
    <app-smart-section [editMode]="editMode()" title="Paramètres des utilisateurs">
        <ng-template #main> </ng-template>
    </app-smart-section>
    <app-smart-section [editMode]="editMode()" title="Paramètres des rôles">
        <ng-template #right>
            <button pButton class="p-button-sm" outlined>
                <i class="pi pi-plus" pButtonIcon></i>
            </button>
        </ng-template>
        <ng-template #main>
            <app-smart-grid [(data)]="roles" [columns]="colDefsRoles()" [(tableState)]="tableStateRoles" [(totalRecords)]="totalRecordsRoles" [(loading)]="loadingRoles" [(customComponents)]="customComponents"></app-smart-grid>
        </ng-template>
    </app-smart-section>
    <app-smart-section [editMode]="editMode()" title="Paramètres des statuts">
        <ng-template #main>
            <app-smart-grid
                [(data)]="statusesAccount"
                [columns]="colDefsStatusesAccount()"
                [(tableState)]="tableStateStatusesAccount"
                [(totalRecords)]="totalRecordsStatusesAccount"
                [(loading)]="loadingStatusesAccount"
                [(customComponents)]="customComponents"
            ></app-smart-grid>
        </ng-template>
    </app-smart-section>
    <app-smart-section [editMode]="editMode()" title="Paramètres des langues" (onAddClick)="onEditClickLanguage()">
        <ng-template #main>
            <app-smart-grid
                [(data)]="languages"
                [columns]="colDefsLanguages()"
                [(tableState)]="tableStateLanguages"
                [(totalRecords)]="totalRecordsLanguages"
                [(loading)]="loadingLanguages"
                [(customComponents)]="customComponents"
                [editMode]="editModeLanguages()"
            ></app-smart-grid>
        </ng-template>
    </app-smart-section>
</div>
