<app-smart-grid [(data)]="users" [columns]="columns()" [(customComponents)]="customComponents" [(tableState)]="filterParams" [(totalRecords)]="totalRecords" [(loading)]="loading" [height]="'1000px'">
    <!-- <ng-template #left>
        <div>
            <h3 class="text-lg font-semibold">left content</h3>
        </div>
    </ng-template>
    <ng-template #right>
        <div>
            <h3 class="text-lg font-semibold">right content</h3>
        </div>
    </ng-template> -->
</app-smart-grid>
