<app-smart-element [title]="'Formation'" [editMode]="true" [editButtonIcon]="'pi pi-pencil'" [deleteButtonIcon]="'pi pi-trash'" (onEditClick)="openEditModal()" (onDeleteClick)="deleteCursus()">
    <ng-template #main>
        <div class="flex gap-2 p-2 pl-0">
            <span class="border border-l-4 w-2" [style]="{borderLeft: `4px solid ${cursus().color ?? 'var(--primary-color)'}`}"></span>
            <div class="flex flex-col gap-1">
                <p class="font-semibold !mb-0">{{ cursus().name }}</p>
                <p class="text-xs !mb-0 text-gray-600 dark:text-gray-400">{{ cursus().description }}</p>
            </div>
        </div>
    </ng-template>
</app-smart-element>

@if (showEditModal()) {
    <app-modal-cursus [(showEditModal)]="showEditModal" (onClose)="cancel()" [cursusInput]="cursus()"></app-modal-cursus>
}
